<%= form_for :event, url: events_path do |f| %>
  <p>
    <%= f.label :home %><br>
    <%= f.select :home, [['Chelsea','Chelsea'],['Manchester United','ManchesterUnited'],['Liverpool','Liverpool']] %>
  </p>

  <p>
    <%= f.label :away %><br>
    <%= f.select :away, [['Chelsea','Chelsea'],['Manchester United','ManchesterUnited'],['Liverpool','Liverpool']] %>
  </p>

  <p>
    <%= f.datetime_select :eventdate%>
  </p>

  <p>
    <%= f.label :status %><br>
    <%= f.select :status, [['Running','Running'],['Closed','Closed']] %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
